<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/home"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span>Configuraci칩n<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/modificar-datos">Modificar informaci칩n</a></li>
            <li><a href="/cambiar-clave">Cambiar contrase침a</a></li>
          </ul>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span>Algoritmos<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/palindromo">Palindromo</a></li>
          </ul>
      </li>
      <!--li>
        <a href="#"><span class="glyphicon glyphicon-home"></span>Algoritmos</a>
      </li-->
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="/logout"><span class="glyphicon glyphicon-book"></span> Cerrar sessi칩n</a>
      </li>
    </ul>
  </div>
</nav>
