<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="container">
  <h2>Session cerrada correctamente</h2>
  <a href="/">Ingresar</a>
</div>

</body>
</html>
